.DS_Store
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
advanced-cache.php
backup-db/
backups/
blogs.dir/
cache/
upgrade/
wp-cache-config.php
themes/minhnguyendesign/node_modules
themes/minhnguyendesign/bower_components
themes/minhnguyendesign/dist