@function em($value) {
    @if ($value/1) == $value {
        @if (unit($value) == 'px') {
            $unitless_value: $value/1px;
            @return ($unitless_value/16)*1em;
        } @else if (unit($value) == 'pt') {
            $unitless_value: $value/1pt;
            @return ($unitless_value/16)*1em;
        } @else {
            @return ($value/16)*1em;
        }
    }
    @warn "em(#{$value}) is not a number.";
    @return null;
}

@function break($breakpoint, $min-width: true) {
    @if ($min-width == false) {
        @return em($breakpoint);
    } @else {
        @return em($breakpoint + 1);
    }
    @warn "#{$breakpoint} in function break(#{$breakpoint}) does not exist.";
    @return 'Check your break() declaration.';
}

body {
    font: 13px/21px Arial, Helvetica, sans-serif;
    color: #666;
    min-width: 320px;
    background: #fbfbfb;
}

a {
    color: black;
    text-decoration: none;
    transition: all 500ms;
    &:hover {
        color: grey;
        text-decoration: none;
    }
}

h2 {
    color: #222;
    font: 300 24px/36px 'Oswald', Arial, Helvetica, sans-serif;
    margin: 0;
}

h3 {
    color: #222;
    font: 300 18px/28px 'Oswald', Arial, Helvetica, sans-serif;
    margin: 0;
}

h4 {
    color: #222;
    font: 300 16px/18px 'Oswald', Arial, Helvetica, sans-serif;
}

h5 {
    color: #222;
    font: 300 14px/18px 'Oswald', Arial, Helvetica, sans-serif;
}

ol,
ul {
    list-style: none;
}

.no-overflow {
    overflow: hidden;
}

.main {
    width: 100% !important;
}

.container {
    width: 100%;
    padding: 0;
}

.sidebar {
    display: none;
}

.content {
    margin: 0 auto;
    .main {
        padding: 0 !important;
    }
}

.bg {
    background-position: center;
    background-repeat: no-repeat;
}
.bg-cover {
    @extend .bg;
    background-size: cover;
}
.bg-contain {
    @extend .bg;
    background-size: contain;
}

.gray-scale {
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: grayscale(100%);
}
.trans-all {
    -webkit-transition: all 500ms ease;
       -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
         -o-transition: all 500ms ease;
            transition: all 500ms ease;
}
.v-50p-absolute {
    position: absolute;
    top: 50%;
}
.v-center-absolute {
    @extend .v-50p-absolute;
    transform: translateY(-50%);
}

.h-center-absolute {
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}

.fixed {
    position: fixed;
    left: 0;
    right: 0;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.align-center {
    margin: 0 auto;
}

.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-filter: "FlipH";
    transform: scaleX(-1);
    filter: FlipH;
}

.border-bottom {
    border-bottom: 1px solid #fff;
}

.border-bottom-menu {
    border-bottom: 2px solid #fff;
}